@import "tailwindcss";
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: white; /* Tailwind yellow-400 */
}

/* #facc15 */
